<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token">


    <title id="app_name">Ciss Admin</title>
    <link rel="icon" id="favicon" type="image/x-icon" href="/adminassets/images/favicon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="/validation/css/global.css">
    <!-- Styles -->
    <link href="/adminassets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/adminassets/css/style.css" rel="stylesheet">
</head>

<body>
    <style type="text/css">
        .form-group.default-admin {
            padding: 10px;
            font-size: 14px;
            color: #000;
            font-weight: 600;
            border-radius: 10px;
            box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.5);
            margin: 20px 10px 10px 10px;
        }

        .form-group.default-admin .crediantials-field {
            position: relative;
            padding-right: 15px;
            text-align: left;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .form-group.default-admin .crediantials-field>a {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 20px;
        }

        .login-register {
            background-color: #000;
        }
    </style>
    <section id="wrapper">
        <div class="login-register">
            <div class="login-logo text-center py-3">
                <a href="#"><img src="/adminassets/images/goride-logo.png" class="dark-logo"> </a>
            </div>

            <div class="login-box card" style="margin-bottom:0%;">
                <div class="card-body">

                    <% if (output.includes('successfully')) { %>
                        <p id="message" class="success-text" style="color: green;">
                            <%= output %>
                        </p>
                        <% } else { %>
                            <p id="message" class="error-text" style="color: red;">
                                <%= output %>
                            </p>
                            <% } %>


                                <% if (showForgotPasswordForm) { %>

                                    <form id="kilfrom" class="form-signin" method="POST" action="/admin/sendOTP">
                                        <!-- <div class="form-group text-center" >  
                                   <label for="email">Enter your email:</label>
                                   <input class="form-control" type="email" id="email" name="email" required><br><br> -->


                                        <div class="form-group text-center">
                                            <div class="form-group col-md-12"></div>
                                            <label for="email">Enter your email:</label>
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <i class="fa fa-envelope"></i> <!-- This is the email icon -->
                                                </span>
                                                <input class="form-control" type="email" id="email" name="email"
                                                    style="padding-left: 7px !important;    width: 80%;" required>
                                            </div>
                                        </div>
                                        <br><br>
                                        <button onclick="validateForm('#kilfrom')" class="btn btn-primary account-btn"
                                            type="submit">Send OTP</button>
                                        <!-- <button class="btn btn-primary account-btn" type="submit">Send OTP</button> -->
                                        <a href="/admin/login" class="btn btn-secondary account-btn">Back</a>
                </div>


                </form>
                <% } else if (showVerifyOTPPrompt) { %>
                    <form class="form-signin" method="POST" id="kilfromOTP" action="/admin/verify-otp">

                        <div class="form-group text-center">
                            <div class="form-group col-md-12"></div>

                            <label for="otp">Enter OTP: </label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope"></i> <!-- This is the email icon -->
                                </span>
                                <input class="form-control" type="text" id="otp" name="otp"
                                    style="padding-left: 7px !important;    width: 80%;padding: 20px !important;position: relative;"
                                    placeholder="Enter OTP"><br><br>
                            </div>
                        </div> <br>
                        <!-- <%= otp %> -->
                            <span id="otpError" class="error-message" style="display: none;">Please enter OTP</span>
                            <input type="hidden" id="email2" name="verifyEmail" value="<%- email %>" readonly><br>

                            <!-- <button  onclick="verifyOTP()" class="btn btn-primary account-btn" type="submit">Verify OTP</button> -->
                            <button type="submit" onclick="return  verifyOTP()"
                                class="btn btn-primary account-btn">Verify
                                OTP</button>
                            <a href="/admin/ForgotPassword" class="btn btn-secondary account-btn">Back</a>
            </div>

        </div>




        </form>
        <% } else if (showResetPasswordForm) { %>

            <div class="form-group text-center">
                <form class="form-signin" method="POST" action="/admin/reset-password" id="resetpasswordForm">


                    <label for="newPassword">Enter new password:</label>





                    <div class="form-group text-center">
                        <div class="form-group col-md-12"></div>
                        <label for="email">Enter Password</label>
                        <div class="input-group">
                          <span class="input-group-text">
                            <i class="fa fa-envelope"></i> <!-- This is the email icon -->
                          </span>
                          <input class="form-control" type="password" id="newPassword" name="npass"
                          placeholder="Enter new password" required><br>
                        </div>
                        <label for="email">Confirm Password</label>
                        <div class="input-group">
                            <span class="input-group-text">
                              <i class="fa fa-envelope"></i> <!-- This is the email icon -->
                            </span>
                            <input class="form-control" type="password" id="confirmPassword" placeholder="Confirm new password" name="cpass"  required>
                          </div>
                          <input type="hidden" id="email3" name="resetemail" value="<%- email %>" readonly><br><br>

                      </div>




                   

                    <button onclick="validateForm('#resetpasswordForm')" class="btn btn-primary account-btn"
                        type="submit" style="top: 10px;position: relative;">Reset Password</button>

                    <button type="button" class="btn btn-secondary account-btn" id="kilback" style="margin-top: 20px;"
                        onclick="clearOtpAndGoBack()">Back</button>

            </div>
            </form>
            <% } %>
                </div>
                </div>
                </div>
    </section>

    <!-- Font Awesome (for the eye icon) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Toggle Password Script -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggle = document.querySelector('.toggle-password');
            const password = document.querySelector('#password');

            toggle.addEventListener('click', function () {
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                this.classList.toggle('fa-eye-slash');
                this.classList.toggle('fa-eye');
            });
        });
    </script>

    <script src="/adminassets/plugins/jquery/jquery.min.js"></script>
    <script src="/adminassets/js/crypto-js.js"></script>
    <!-- <script src="/validation/js/shivivalidation.js"></script> -->



</body>

</html>

<script>

    function togglePasswordVisibility(inputId, iconElement) {
        const passwordInput = document.getElementById(inputId);
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            iconElement.classList.remove("fa-eye-slash");
            iconElement.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            iconElement.classList.remove("fa-eye");
            iconElement.classList.add("fa-eye-slash");
        }
    }

    function verifyOTP() {
        const otpInput = document.getElementById('otp');
        const otpError = document.getElementById('otpError');

        if (otpInput.value.trim() === '') {
            // Show the error message if the input is empty
            otpError.style.display = 'inline';
            otpError.style.color = 'red';
            otpError.style.fontWeight = 'bold';
            return false; // Prevent form submission
        } else {
            // Hide the error message if the input is not empty
            otpError.style.display = 'none';
            return true; // Allow form submission
        }
    }

    function clearOtpAndGoBack() {

        history.back();
        //location.href('https://www.google.com')
    }


</script>